<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    

<body>
  
  <form class="wrapper" action="/admin/login" METHOD="POST">
        <h1>Admin Login</h1>
         <p>
          Don't you have an account?
          <a href="/admin/signup" style="color: peru">Signup</a>
        </p>
      <div class="input-box">
        <input 
        type="text"
        name="memberNick"
        class="member-nick"
        placeholder="Username"
        value=""
        required
        />
        <i class='bx bxs-user'></i>
      </div>
    <div class="input-box">
        <input 
        type="password"
        name="memberPassword"
        class="member-password"
        placeholder="Password"
        value=""
        required
        />
        <i class='bx bxs-lock-alt'></i>
    </div>
    <button class="btn" name="login" type="submit">Login</button>
      
      
  </form>
</body>

<%- include('includes/footer') %>
