<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/signup.css" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">

<body>
  <div class="wrapper">
    <form action="/admin/signup" method="POST" enctype="multipart/form-data">
          <h1>Admin Signup</h1>
          <div>Go back <a href="/admin" style="color: peru">Home</a></div>
          <p>
            Already signed up?
            <a href="/admin/login" style="color: peru">Login</a>
          </p>
        <div class="input-box">
                <input 
                type="text" 
                name="memberNick"
                class="member-nick"
                placeholder="Username"
                value="" 
                />
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input 
                type="text"
                name="memberPhone"
                class="member-phone"
                placeholder="Phone" 
                value=""
               />
                <i class='bx bxs-phone' ></i>
            </div>
            <div class="input-box">
                <input 
                type="password"
                name="memberPassword"
                class="member-password"
                placeholder="Password" 
                value=""
                />
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input 
                type="password"
                name="memberPassword"
                class="member-password"
                placeholder="Repeat Password" 
                value=""
                />
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input 
                type="file"
                name="memberImage"
                class="member-img"
                placeholder="upload user image" 
                value=""
                />
                <i class='bx bx-upload' ></i>
            </div>
            <button name="signup" type="submit" class="btn">Signup</button>

    </form>
  </div>

  <script type="text/javascript" src="/js/signup.js"></script>
</body>

<%- include('includes/footer') %>
